static/* linguist-vendored
staticfiles/* linguist-vendored
templates/* linguist-vendored
jumia/templates* linguist-vendored
jumia/templates/partials* linguist-vendored
*.html linguist-vendored
*.htm linguist-vendored
*.htm inguist-detectable=false
*.html inguist-detectable=false
