{% load static %}
<div id="content">
    <section class="main">

        <div class="container">
            {% if scrapes_1 %}
                <br><br>
                <div class="col-xs-1" align="center">
                    <div class="alert alert-secondary text-center mx-0" role="alert">
                        <h5>Android Discounts</h5>
                        <h6>Found {{ scrapes_1 | length }}</h6>
                        <a href="{% url 'android' %}" class="btn btn-secondary offer-btn">View all products >></a>
                    </div>
                </div>

                <div class="row">
                    <!-- Product Card -->
                    {% for scrape in scrapes_1 %}
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="frontside">
                                <div class="card">
                                    <div>
                                        <div class="card-img-overlay">
                                            <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                                data-src="{{ scrape.img_url }}"
                                                alt="Computing"></p>
                                        <h6 class="card-title">{{ scrape.product}}</h6>
                                        <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                        <p class="card-text price">₦{{ scrape.price }}</p>
                                        <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                            Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="container">
            {% if scrapes_2 %}
                <br><br>
                <div class="col-xs-1" align="center">
                    <div class="alert alert-secondary text-center mx-0" role="alert">
                        <h5>Iphone Discounts</h5>
                        <h6>Found {{ scrapes_2 | length }}</h6>
                        <a href="{% url 'iphone' %}" class="btn btn-secondary offer-btn">View all products >></a>
                    </div>
                </div>

                <div class="row">
                    <!-- Product Card -->
                    {% for scrape in scrapes_2 %}
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="frontside">
                                <div class="card">
                                    <div>
                                        <div class="card-img-overlay">
                                            <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                                data-src="{{ scrape.img_url }}"
                                                alt="Computing"></p>
                                        <h6 class="card-title">{{ scrape.product}}</h6>
                                        <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                        <p class="card-text price">₦{{ scrape.price }}</p>
                                        <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                            Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="container">
            {% if scrapes_3 %}
                <br><br>
                <div class="col-xs-1" align="center">
                    <div class="alert alert-secondary text-center mx-0" role="alert">
                        <h5>Computing Discounts</h5>
                        <h6>Found {{ scrapes_3 | length }}</h6>
                        <a href="{% url 'computing' %}" class="btn btn-secondary offer-btn">View all products >></a>
                    </div>
                </div>

                <div class="row">
                    <!-- Product Card -->
                    {% for scrape in scrapes_3 %}
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="frontside">
                                <div class="card">
                                    <div>
                                        <div class="card-img-overlay">
                                            <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                                data-src="{{ scrape.img_url }}"
                                                alt="Computing"></p>
                                        <h6 class="card-title">{{ scrape.product}}</h6>
                                        <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                        <p class="card-text price">₦{{ scrape.price }}</p>
                                        <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                            Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="container">
            {% if scrapes_4 %}
                <br><br>
                <div class="col-xs-1" align="center">
                    <div class="alert alert-secondary text-center mx-0" role="alert">
                        <h5>Electronics Discounts</h5>
                        <h6>Found {{ scrapes_4 | length }}</h6>
                        <a href="{% url 'electronics' %}" class="btn btn-secondary offer-btn">View all products >></a>
                    </div>
                </div>

                <div class="row">
                    <!-- Product Card -->
                    {% for scrape in scrapes_4 %}
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="frontside">
                                <div class="card">
                                    <div>
                                        <div class="card-img-overlay">
                                            <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                                data-src="{{ scrape.img_url }}"
                                                alt="Computing"></p>
                                        <h6 class="card-title">{{ scrape.product}}</h6>
                                        <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                        <p class="card-text price">₦{{ scrape.price }}</p>
                                        <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                            Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="container">
            {% if scrapes_5 %}
                <br><br>
                <div class="col-xs-1" align="center">
                    <div class="alert alert-secondary text-center mx-0" role="alert">
                        <h5>Mens Fashion Discounts</h5>
                        <h6>Found {{ scrapes_5 | length }}</h6>
                        <a href="{% url 'men-fashion' %}" class="btn btn-secondary offer-btn">View all products >></a>
                    </div>
                </div>

                <div class="row">
                    <!-- Product Card -->
                    {% for scrape in scrapes_5 %}
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="frontside">
                                <div class="card">
                                    <div>
                                        <div class="card-img-overlay">
                                            <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                                data-src="{{ scrape.img_url }}"
                                                alt="Computing"></p>
                                        <h6 class="card-title">{{ scrape.product}}</h6>
                                        <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                        <p class="card-text price">₦{{ scrape.price }}</p>
                                        <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                            Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="container">
            {% if scrapes_6 %}
                <br><br>
                <div class="col-xs-1" align="center">
                    <div class="alert alert-secondary text-center mx-0" role="alert">
                        <h5>Women Fashion Discounts</h5>
                        <h6>Found {{ scrapes_6 | length }}</h6>
                        <a href="{% url 'women-fashion' %}" class="btn btn-secondary offer-btn">View all products >></a>
                    </div>
                </div>

                <div class="row">
                    <!-- Product Card -->
                    {% for scrape in scrapes_6 %}
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="frontside">
                                <div class="card">
                                    <div>
                                        <div class="card-img-overlay">
                                            <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                                data-src="{{ scrape.img_url }}"
                                                alt="Computing"></p>
                                        <h6 class="card-title">{{ scrape.product}}</h6>
                                        <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                        <p class="card-text price">₦{{ scrape.price }}</p>
                                        <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                            Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="container">
            {% if scrapes_7 %}
                <br><br>
                <div class="col-xs-1" align="center">
                    <div class="alert alert-secondary text-center mx-0" role="alert">
                        <h5>Kids Fashion Discounts</h5>
                        <h6>Found {{ scrapes_7 | length }}</h6>
                        <a href="{% url 'kids-fashion' %}" class="btn btn-secondary offer-btn">View all products>></a>
                    </div>
                </div>

                <div class="row">
                    <!-- Product Card -->
                    {% for scrape in scrapes_7 %}
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="frontside">
                                <div class="card">
                                    <div>
                                        <div class="card-img-overlay">
                                            <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                                data-src="{{ scrape.img_url }}"
                                                alt="Computing"></p>
                                        <h6 class="card-title">{{ scrape.product}}</h6>
                                        <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                        <p class="card-text price">₦{{ scrape.price }}</p>
                                        <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                            Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="container">
            {% if scrapes_8 %}
                <br><br>
                <div class="col-xs-1" align="center">
                    <div class="alert alert-secondary text-center mx-0" role="alert">
                        <h5>Health and Beauty Discounts</h5>
                        <h6>Found {{ scrapes_8 | length }}</h6>
                        <a href="{% url 'health-beauty' %}" class="btn btn-secondary offer-btn">View all products>></a>
                    </div>
                </div>

                <div class="row">
                    <!-- Product Card -->
                    {% for scrape in scrapes_8 %}
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="frontside">
                                <div class="card">
                                    <div>
                                        <div class="card-img-overlay">
                                            <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                                data-src="{{ scrape.img_url }}"
                                                alt="Computing"></p>
                                        <h6 class="card-title">{{ scrape.product}}</h6>
                                        <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                        <p class="card-text price">₦{{ scrape.price }}</p>
                                        <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                            Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
</div>