<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jumia - Discoco</title>
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/sample-style.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index'%}">Home</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index'%}">Admin</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'jumia_home'%}">Jumia</a></li>
        </ul>
    </div>
</nav>

<div class="container my-3">

    <div class="container">
        <div class="row">
            <div class="col-12 card">
                <h2 class="section-heading text-center">Jumia Discounts</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid my-3">
        <div class="row alert alert-primary text-center py-3" role="alert">
            <div class="col-xs-1 alert alert-primary my-3 mx-3" align="center">
                <h3><a href="{% url 'android'%}">Android </a></h3>
            </div>
            <div class="col-xs-1 alert alert-primary my-3 mx-3" align="center">
                <h3><a href="{% url 'iphone'%}">IPhone </a></h3>
            </div>
            <div class="col-xs-1 alert alert-primary my-3 mx-3" align="center">
                <h3><a href="{% url 'computing'%}">Computing </a></h3>
            </div>
            <div class="col-xs-1 alert alert-primary my-3 mx-3" align="center">
                <h3><a href="{% url 'electronics'%}">Electronics </a></h3>
            </div>
            <div class="col-xs-1 alert alert-primary my-3 mx-3" align="center">
                <h3><a href="{% url 'fashion'%}">Fashion </a></h3>
            </div>
            <div class="col-xs-1 alert alert-primary my-3 mx-3" align="center">
                <h3><a href="{% url 'men-fashion'%}">Men Fashion </a></h3>
            </div>
            <div class="col-xs-1 alert alert-primary my-3 mx-3" align="center">
                <h3><a href="{% url 'women-fashion'%}">Women Fashion </a></h3>
            </div>
            <div class="col-xs-1 alert alert-primary my-3 mx-3" align="center">
                <h3><a href="{% url 'health-beauty'%}">Health and beauty </a></h3>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="col-xs-1" align="center">
        <div class="alert alert-success" role="alert">
            Discoco - Created by <a href="https://github.com/Kolaposki" class="alert-link" target="_blank">Kolaposki</a>.
            <i>Still in Beta Version.</i>
        </div>
    </div>
</footer>
</body>
</html>