<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load my_extras %}
<html>

<head>
    <title>{% block title %}Jumia Discounts | Discoco{% endblock%}</title>
</head>


<body>
{% block content %}

<!-- Page Content  -->
<div id="content">

    <section class="main">
        <!-- Android details -->
        <div class="container">

            <div class="col-xs-1" align="center">
                <div class="alert alert-secondary text-center mx-0" role="alert">
                    <h5>Android Discounts</h5>
                    <a href="{% url 'android' %}" class="btn btn-secondary offer-btn">View all >></a>
                </div>
            </div>

            <div class="row">
                <!-- Product Card -->
                {% for scrape in scrapes1 %}
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                    <div class="frontside">
                        <div class="card">
                            <div>
                                <div class="card-img-overlay">
                                    <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                        data-src="{{ scrape.img_url }}" alt="Android"></p>
                                <h6 class="card-title">{{ scrape.product}}</h6>
                                <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                <p class="card-text price">₦{{ scrape.price }}</p>
                                <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                    Offer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <br><br>
        <!-- Iphone Details -->
        <div class="container">

            <div class="col-xs-1" align="center">
                <div class="alert alert-secondary text-center mx-0" role="alert">
                    <h5>IPhone Discounts</h5>
                    <a href="{% url 'iphone' %}" class="btn btn-secondary offer-btn">View all >></a>
                </div>
            </div>

            <div class="row">
                <!-- Product Card -->
                {% for scrape in scrapes2 %}
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                    <div class="frontside">
                        <div class="card">
                            <div>
                                <div class="card-img-overlay">
                                    <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                        data-src="{{ scrape.img_url }}" alt="Android"></p>
                                <h6 class="card-title">{{ scrape.product}}</h6>
                                <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                <p class="card-text price">₦{{ scrape.price }}</p>
                                <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                    Offer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End -->
        </div>

        <br><br>
        <!-- Computing Details -->
        <div class="container">

            <div class="col-xs-1" align="center">
                <div class="alert alert-secondary text-center mx-0" role="alert">
                    <h5>Computing Discounts</h5>
                    <a href="{% url 'computing' %}" class="btn btn-secondary offer-btn">View all >></a>
                </div>
            </div>

            <div class="row">
                <!-- Product Card -->
                {% for scrape in scrapes3 %}
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                    <div class="frontside">
                        <div class="card">
                            <div>
                                <div class="card-img-overlay">
                                    <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                        data-src="{{ scrape.img_url }}" alt="Android"></p>
                                <h6 class="card-title">{{ scrape.product}}</h6>
                                <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                <p class="card-text price">₦{{ scrape.price }}</p>
                                <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                    Offer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End -->
        </div>

        <br><br>
        <!-- Electronics Details -->
        <div class="container">

            <div class="col-xs-1" align="center">
                <div class="alert alert-secondary text-center mx-0" role="alert">
                    <h5>Electronics Discounts</h5>
                    <a href="{% url 'electronics' %}" class="btn btn-secondary offer-btn">View all >></a>
                </div>
            </div>

            <div class="row">
                <!-- Product Card -->
                {% for scrape in scrapes4 %}
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                    <div class="frontside">
                        <div class="card">
                            <div>
                                <div class="card-img-overlay">
                                    <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                        data-src="{{ scrape.img_url }}" alt="Android"></p>
                                <h6 class="card-title">{{ scrape.product}}</h6>
                                <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                <p class="card-text price">₦{{ scrape.price }}</p>
                                <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                    Offer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End -->
        </div>

        <br><br>
        <!-- Men's Fashion Details -->
        <div class="container">

            <div class="col-xs-1" align="center">
                <div class="alert alert-secondary text-center mx-0" role="alert">
                    <h5>Men's Fashion Discounts</h5>
                    <a href="{% url 'men-fashion' %}" class="btn btn-secondary offer-btn">View all >></a>
                </div>
            </div>

            <div class="row">
                <!-- Product Card -->
                {% for scrape in scrapes5 %}
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                    <div class="frontside">
                        <div class="card">
                            <div>
                                <div class="card-img-overlay">
                                    <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                        data-src="{{ scrape.img_url }}" alt="Android"></p>
                                <h6 class="card-title">{{ scrape.product}}</h6>
                                <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                <p class="card-text price">₦{{ scrape.price }}</p>
                                <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                    Offer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End -->
        </div>

        <br><br>
        <!-- Women's Fashion Details -->
        <div class="container">

            <div class="col-xs-1" align="center">
                <div class="alert alert-secondary text-center mx-0" role="alert">
                    <h5>Women's Fashion Discounts</h5>
                    <a href="{% url 'women-fashion' %}" class="btn btn-secondary offer-btn">View all >></a>
                </div>
            </div>

            <div class="row">
                <!-- Product Card -->
                {% for scrape in scrapes6 %}
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                    <div class="frontside">
                        <div class="card">
                            <div>
                                <div class="card-img-overlay">
                                    <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <p><img class="img-fluid" src="{% static 'images/source1.gif' %}"
                                        data-src="{{ scrape.img_url }}" alt="Android"></p>
                                <h6 class="card-title">{{ scrape.product}}</h6>
                                <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                <p class="card-text price">₦{{ scrape.price }}</p>
                                <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary offer-btn">Get
                                    Offer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End -->
        </div>

    </section>
</div>

{% endblock %}
</body>

</html>