<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load my_extras %}
<html>

<head>
    <title>{% block title %}Men Fashion Discounts | Discoco{% endblock%}</title>
</head>


<body>
{% block content %}

<!-- Page Content  -->
<div id="content">

    <!-- Team -->
    <section class="main">

        <div class="container">
            <h5 class="section-title h1">Men Fashion Discounts</h5>
            <div class="col-xs-1" align="center">
                <div class="alert alert-primary text-center mx-0" role="alert">
                    <h5>Total Products: <b>{{ total }}</b></h5>
                    <h6>Range: {{ discount_per }}% - 99%</h6>

                    <div class="form-group col ">
                        <select data-style="btn btn-primary" value="Change" type="button" title="Change"
                                class="btn btn-primary text-center" onchange="location = this.value;">
                             <option value="none" selected disabled hidden>
                                  Change discount range
                              </option>

                            <option value="{% url 'men-fashion' 50 %}">50%</option>
                            <option value="{% url 'men-fashion' 60 %}">60%</option>
                            <option value="{% url 'men-fashion' 70 %}">70%</option>
                            <option value="{% url 'men-fashion' 80 %}">80%</option>
                            <option value="{% url 'men-fashion' 90 %}">90%</option>
                        </select>
                    </div>
                </div>
            </div>

            {% if total > 0 %}
            <div class="row">
                <!-- Product Card -->
                {% for scrape in scrapes %}
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <div class="frontside">
                            <div class="card">
                                <div>
                                    <div class="card-img-overlay">
                                        <span class=" btn-danger btn-sm">{{ scrape.percent }}%</span>
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="{% static 'images/source1.gif' %}" data-src="{{ scrape.img_url }}" alt="card image"></p>
                                    <h6 class="card-title">{{ scrape.product | shortner }}</h6>
                                    <p class="card-text old-price">₦{{ scrape.old_price }}</p>
                                    <p class="card-text price">₦{{ scrape.price }}</p>
                                    <a href="{{ scrape.product_url }}" target="_blank" class="btn btn-primary">Get Offer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- End -->
            {% else %}
                <div class="col-xs-1" align="center">
                    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                        <h6>No products available for now! <br>Check back later or try adjusting the discount.</h6>
                    </div>
                </div>
            {% endif %}
        </div>

    </section>
</div>

{% endblock %}
</body>

</html>