<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jumia{% endblock%}</title>
</head>
<body>
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="section-heading text-center">Jumia</h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
            <div class="col-xs-1 alert alert-primary" align="center">
                <h3><a href="{% url 'android'%}">Android </a> </h3>
            </div>
            <div class="col-xs-1 alert alert-primary" align="center">
                <h3><a href="{% url 'iphone'%}">IPhone </a> </h3>
            </div>

    </div>
</div>
{% endblock %}


</body>
</html>